body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
}
