@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    background-color: rgba(239, 239, 239, 0);
    display: flex;
    align-items: center;
    padding-left: 0.8em;
    color: rgb(46, 46, 46);
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0);
    font-size: 1.8em;
    flex-direction: row;
}


html body {
    overflow: hidden;
    font-family: "Roboto", sans-serif;

}

.content{
    font-family: "Roboto";
}

h1 {
    font-size: 3em;
}


.header-button {
    position: absolute;
    right: 0.5em;
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 0.4em;
    transform: translate(0%, -50%);
}
.header-button button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0);
    border: solid rgba(65, 65, 65, 0) 1.5px;
    padding: 0.1em;
    padding-left: 0.0em;
    padding-right: 0.2em;
    border-radius: 0.1em;
}

img {
    -webkit-filter: drop-shadow(3px 3px 0px #000000);
    filter: drop-shadow(3px 3px 0px #000000);;
  }

.content {
    position: absolute;
    width: 80%;
    top: 3em;
    bottom: 0;
    left: 10%;
    right: 10%;
    /* border: 1px solid black; */
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}

.settings {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 0.1em;
}

.settings * {
    margin: 0.1em;
}




.big-button:active {
    background-color: rgba(55, 234, 55, 0.262);
}

.start-session {
    /* margin-top: 25vh; */
    margin-bottom: 5vh;
}


body[in-session="true"] .out-session-content {
    display: none;
}

.in-session-content {
    position: absolute;
    height: 100vh;
    left: 5%;
    right: 5%;
    /* border: 1px solid black; */
    transition: 0.7s top;
    background-color: rgba(159, 197, 243, 0.303);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.8em;
    gap: 2em;
    max-width: 20em;
}

.out-session-content {
    /* display: flex; */
    /* ali */
    gap: 1em;
}


body[in-session="true"] .in-session-content {
    top: 20vh;
}
body[in-session="false"] .in-session-content {
    /* display: none; */
    top: 110vh;
}


.content {
    gap: 0.5em;
}

.h {
    display: flex;
    flex-direction: row;
}



.logo {
    height: 2em;
}

/* CSS */


@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  size: 1.2em;
}

.button-9:disabled {
  cursor: default;
}

.button-9:active {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


.out-session-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.out-session-content * {
    margin-bottom: 1em;
    
}
.out-session-content button {
    background-color: transparent;
    border: none;
    font-size: 3em;
}


[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color:gray;
}
/* found this online --- it prevents the user from being able to make a (visible) newline */
[contenteditable=true] br{
    display:none;
}
span[contenteditable=true] {
    font-family: Roboto;
    background-color: transparent;
    border: none;
    border-bottom: #222222 2px solid;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

span {
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
    

}

.out-session-content span {
    font-size: 2em;
}

.cancel-button {
    background-color: #f54640;

}

.big-button {
    font-size: 3em;
    background-color: white;
    border: solid black 1.5px !important;
    padding: 0.4em;
}

@media screen and (orientation:landscape) {
    .in-session-content {
        left: 50%;
        right: 50%;
        min-width: 20em;
        transform: translate(-50%,0);
        
    }
}


/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}