@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.contentsettings {
    position: absolute;
    width: 80%;
    top: 5em;
    left: 10%;
    padding: 20px;

}

:root {
    --primary-color: #05073a;
    --secondary-color: #FFFFFF;
    --background-color: #ffffff;
    --text-color: #333;
    --header-height: 60px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.content {
    padding: 20px;
}

.settings h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#supervisor-list {
    list-style: none;
    padding: 0;
    margin-bottom: 21px;
}

#supervisor-list li {
    background-color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 26em;
    font-size: 0.9em;
}

#supervisor-list li.no-supervisors {
    text-align: center;
    font-style: italic;
    color: #777;
}

.add-supervisor, .change-email {
    display: flex;
    gap: 10px;
}

#new-supervisor-name, #new-email {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.add-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #002d8f;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(mainbg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
  }

  input {
    max-width: 22em;
  }